# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/
*.db
*.sqlite3

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
backend/appointment.db
